# See https://help.github.com/ignore-files/ for more about ignoring files.

/.expo
/dist
/node_modules
/go
/web-build
/.github
/.yarn
/.expo-shared
/cache

# generated packages
/packages/contracts-clients
/packages/api
