# See https://help.github.com/ignore-files/ for more about ignoring files.

/.expo
/dist
/node_modules
/go
/web-build
/.yarn

# generated packages
/packages/contracts-clients
/packages/api
/temp
/assets
/.expo-shared
/.github
/cache
/.git
/electron
