/* Editor */
.public-DraftEditor-content {
  color: #FFFFFF;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
}

.public-DraftEditor-content a {
  color: #16BBFF;
}

.public-DraftEditorPlaceholder-root {
  color: #777777;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
}

/* Static toolbar */
.draftjs-static-toolbar {
  border-radius: 6px;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.draftjs-static-toolbar input {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
}

.draftjs-static-toolbar-buttonWrapper button {
  cursor: pointer;
  background-color: #333333;
  border-radius: 4px;
  color: #FFFFFF;
  margin-left: 3px;
  margin-right: 3px;
  height: 30px;
  border: 1px solid #333333;
}

.draftjs-static-toolbar-buttonWrapper button svg {
  fill: #FFFFFF !important;
}

.draftjs-static-toolbar-buttonWrapper button:hover {
  background-color: #000000;
}
