/* Editor */
.public-DraftEditor-content {
  color: #FFFFFF;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
  min-height: 100px;
}

.public-DraftEditor-content a {
  color: #16BBFF;
}

.public-DraftEditor-content h1 {
  line-height: 37px;
}
.public-DraftEditor-content h2 {
  line-height: 28px;
}
.public-DraftEditor-content h3 {
  line-height: 23px;
}

.public-DraftEditorPlaceholder-root {
  color: #777777;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
  position: absolute;
}

/* Static toolbar */
.draftjs-static-toolbar {
  border-radius: 6px;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.draftjs-static-toolbar input {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
}

.draftjs-static-toolbar-buttonWrapper button {
  cursor: pointer;
  background-color: #333333;
  border-radius: 4px;
  color: #FFFFFF;
  margin-left: 3px;
  margin-right: 3px;
  height: 30px;
  width: 30px;
  border: 1px solid #333333;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draftjs-static-toolbar-buttonWrapper button svg {
  fill: #FFFFFF !important;
}

/*.draftjs-static-toolbar-buttonWrapper button:hover {*/
/*  background-color: #000000;*/
/*}*/

.DraftEditor-editorContainer figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.DraftEditor-editorContainer figure img {
  width: auto;

  max-width: 100%;
}

 
/* Inline toolbar */

.draftjs-inline-toolbar {
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  top: 20px;
  left: 0;
  border: 1px solid #333333;
  background-color: #171717;
  border-radius: 6px;
  box-shadow: none !important;
  z-index: 9999;
  box-sizing: border-box;
}

.draftjs-inline-toolbar-buttonWrapper {
   display: inline-block;
   border:none;
}


  .draftjs-inline-toolbar-buttonWrapper:after, .draftjs-inline-toolbar-buttonWrapper:before {
  display: none !important;
}

  .draftjs-inline-toolbar-buttonWrapper  button {
  background: #333333;
  border-radius: 4px;
  color: white;
  margin: 4px 2px;
  border: none;
}

  .draftjs-inline-toolbar-buttonWrapper  button:first-child {
  margin-left: 4px;
}

  .draftjs-inline-toolbar-buttonWrapper  button:last-child {
  margin-right:  4px;
}


  .draftjs-inline-toolbar-buttonWrapper button svg {
  fill: white !important;
}

  .draftjs-inline-toolbar-buttonWrapper button:hover  {
    background-color: #000000;
}


