/* Editor */
.DraftEditor-editorContainer figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.DraftEditor-editorContainer figure video {
  max-height: 400px;
}

.DraftEditor-editorContainer figure video {
  max-height: 400px;
}

.DraftEditor-editorContainer figure img {
  width: auto;
  max-width: 100%;
  max-height: 400px;
}

.public-DraftEditor-content {
  color: #A3A3A3;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
  min-height: 60px;
}

.public-DraftEditor-content h1 {
  line-height: 37px;
  color: #FFFFFF;
}
.public-DraftEditor-content h2 {
  line-height: 28px;
  color: #FFFFFF;
}
.public-DraftEditor-content h3 {
  line-height: 23px;
  color: #FFFFFF;
}

.public-DraftEditor-content a {
  color: #16bbff;
}

.public-DraftEditorPlaceholder-root {
  color: #777777;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
  position: absolute;
}

/* Static toolbar */
.draftjs-static-toolbar {
  border-radius: 6px;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
}

.draftjs-static-toolbar input {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #000000;
  color: #ffffff;
  line-height: 20px;
  font-size: 14px;
  font-family: Exo_500Medium;
}

.draftjs-static-toolbar-buttonWrapper button {
  cursor: pointer;
  background-color: #333333;
  border-radius: 4px;
  color: #ffffff;
  margin: 4px;
  height: 30px;
  width: 30px;
  border: 1px solid #333333;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draftjs-static-toolbar-buttonWrapper button svg {
  fill: #ffffff !important;
}


/* Inline toolbar */
.draftjs-inline-toolbar {
  left: 300px !important;
  position: absolute;
  border-radius: 6px;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: 40px;
}

.draftjs-inline-toolbar-buttonWrapper {
  display: inline-block;
  border: none;
}

.draftjs-inline-toolbar-buttonWrapper:after,
.draftjs-inline-toolbar-buttonWrapper:before {
  display: none !important;
}

.draftjs-inline-toolbar-buttonWrapper button {
  cursor: pointer;
  background-color: #333333;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 3px;
  margin-right: 3px;
  height: 30px;
  width: 30px;
  border: 1px solid #333333;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draftjs-inline-toolbar-buttonWrapper button svg {
  fill: #ffffff !important;
}
