name: Buf lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1.28.0
        with:
          version: 1.28.0
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Buf lint
        run: make lint.buf
