name: Build Desktop App

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: "yarn"
          node-version: 18

      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Install node modules
        run: yarn

      - name: Prepare
        run: make prepare-electron

      - name: Upload web build
        uses: actions/upload-artifact@v3
        with:
          name: electron-web-build
          path: electron/web-build
          if-no-files-found: error
  build:
    needs: prepare
    strategy:
      matrix:
        include:
          - os: linux
            runner: ubuntu-latest
            arch: amd64
          - os: macos
            runner: macos-latest
            arch: amd64
          - os: windows
            runner: macos-latest
            arch: amd64
    runs-on: ${{ matrix.runner }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: "npm"
          node-version: 18

      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Download web build
        uses: actions/download-artifact@v3
        with:
          name: electron-web-build
          path: electron/web-build

      - name: Build ${{ matrix.os }}-${{ matrix.arch }}
        run: make build-electron-${{ matrix.os }}-${{ matrix.arch }}

      - name: Create Arch Linux package
        if: matrix.os == 'linux'
        run: |
          wget https://raw.githubusercontent.com/helixarch/debtap/3.5.1/debtap
          chmod +x debtap
          sudo ./debtap -u electron/dist/artifacts/local/*.deb

      - name: Upload AppImage
        uses: actions/upload-artifact@v3
        if: matrix.os == 'linux'
        with:
          name: teritori-${{ github.sha }}-${{ matrix.os }}-${{ matrix.arch }}-AppImage
          path: electron/dist/artifacts/local/*.AppImage
          if-no-files-found: error

      - name: Upload deb
        uses: actions/upload-artifact@v3
        if: matrix.os == 'linux'
        with:
          name: teritori-${{ github.sha }}-${{ matrix.os }}-${{ matrix.arch }}-deb
          path: electron/dist/artifacts/local/*.deb
          if-no-files-found: error

      - name: Upload Arch pkg
        uses: actions/upload-artifact@v3
        if: matrix.os == 'linux'
        with:
          name: teritori-${{ github.sha }}-${{ matrix.os }}-${{ matrix.arch }}-pkgtarzst
          path: electron/dist/artifacts/local/*.pkg.tar.zst
          if-no-files-found: error

      - name: Upload dmg
        uses: actions/upload-artifact@v3
        if: matrix.os == 'macos'
        with:
          name: teritori-${{ github.sha }}-${{ matrix.os }}-${{ matrix.arch }}-dmg
          path: electron/dist/artifacts/local/*.dmg
          if-no-files-found: error

      - name: Upload exe
        uses: actions/upload-artifact@v3
        if: matrix.os == 'windows'
        with:
          name: teritori-${{ github.sha }}-${{ matrix.os }}-${{ matrix.arch }}-exe
          path: electron/dist/artifacts/local/*.exe
          if-no-files-found: error
