name: Codegen

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  check-codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "yarn"
          node-version-file: ".nvmrc"

      - uses: actions/setup-go@v3
        with:
          go-version: "1.22"

      - uses: dtolnay/rust-toolchain@stable

      - uses: bufbuild/buf-setup-action@v1.49.0
        with:
          version: 1.49.0
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install node modules
        run: yarn

      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: |
            ${{ secrets.NFTS_DEPLOY_KEY }}
            ${{ secrets.FOOTER_DEPLOY_KEY }}
            ${{ secrets.TNS_DEPLOY_KEY }}

      - name: Regenerate
        run: make generate

      - name: Debug
        run: ls packages/api/weshnet

      - name: Check diff
        run: git diff --exit-code
